{% extends 'base_back.html.twig' %}

{% block title %}Edit AchatLivre{% endblock %}

{% block body %}
    <h1>Edit AchatLivre</h1>

    {{ include('achat_livre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_achat_livre_index') }}">back to list</a>

    {{ include('achat_livre/_delete_form.html.twig') }}
{% endblock %}
